.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #f8f9fa;
  margin-bottom: 2rem;
  input {
    border: none;
    background: #f8f9fa;
    width: 95%;
    height: 2rem;
    padding: 1rem;
    outline: none;
  }
  input::placeholder {
    color: black;
  }
}
